 <!-- Footer -->
<footer class="py-2 px-3" style="background-color: #00C897;display: flex;align-items: center;justify-content: space-between;position: fixed;bottom: 0;width: 100vw;">

  <b class="text-white">Copyright &copy; @2022 Confab</b>

  <ul class="text-white" style="display: flex; align-items: center;gap: 1rem;text-decoration: none;color: black" >
    <li style="list-style: none;"><a href="/" style="color: black !important;padding: 0;">Home</a></li>
    <li style="list-style: none;"><a href="/about_us" style="color: black !important;padding: 0;">About</a></li>
    <li style="list-style: none;"><a href="/contactus" style="color: black !important;padding: 0;">Contact Us</a></li>
    <li style="list-style: none;"><a href="/Feedback" style="color: black !important;padding: 0;">Feedback</a></li>
  </ul>

</footer>