<!DOCTYPE html>
<html lang="en">
<head>

<h1>so what our site does offer more than it's literal meaning?</h1>
<h2>it offers the privacy the all time favourite of human beings </h2>
<h1>what does it actually do to provide the privacy?</h1>
<h2>well it doesnt take your username thus providing you anominity</h2>
<h1>so let's take all the points together and put it together so it can make sense,shall we?</h1>
<h2>confab is an informal discussion forum which is confined to a paticular organization which gives you anominity to answer or ask any question without any fear of being juged as it doesnt have ypur username</h2>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        meaning of confab:
      </button>
    </p>
    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="card card-body" style="width: 300px;">
          an informal private conversation or discussion

            <!-- Example Code -->
          </div>
        </div>
      </div>
      
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                so what our site does offer more than it's literal meaning?
              </button>
            </p>
            <div style="min-height: 120px;">
              <div class="collapse collapse-horizontal" id="collapseWidthExample2">
                <div class="card card-body" style="width: 300px;">
                  it offers the privacy the all time favourite of human beings               
                 </div>
              </div>
            </div>
       
    <!-- End Example Code -->
  </body>
</html>